body {
    font-family: "Pixelify Sans", sans-serif;
    background: url(images/background\ exe4.jpg);
}

.header {
    background-color: rgb(21, 168, 21);
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.footer {
    background-color: rgb(21, 168, 21);
    text-align: center;
    padding: 30px;


}

.socmed {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

}

.personal {
    font-weight: 50;
    text-align: center;
    padding: 18px;
}

.intro {
    font-weight: 30;
    text-align: center;
    margin-bottom: 10px;
    padding-left: 70px;
    padding-right: 70px;
}

.exercise {
    display: flex;
    gap: 15px;
}

.week {
    flex: 1;
    background-color: rgb(255, 255, 255, 0.6);
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border: solid 1px rgb(255, 255, 255, 0.6);
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
}

.cldr {
    border-bottom: 1.5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}