button.subscribe {
    background-color: #b80404;
    color: white;
    border: 1px solid #b80404;
}

button.join {
    background-color: white;
    color: #2a3262;
    border: 1px solid #2a3262;
}

button.tweet {
    background-color: #1b88d4;
    color: white;
    border: #1b88d4;
}

.button-style {
    border-radius: 1.5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.button-extra {
    font-family: 'Times New Roman', Times, serif;
}

#bigbutton {
    font-size: 25px;
}