@font-face {
    font-family: 'roboto';
    src: url(font/Roboto-Regular.ttf)
}

#nav {
    display: flex;
}

a {
    color: beige;
    text-decoration: none;
}

a:hover {
    text-decoration: underline 2px;
    text-underline-offset: 5px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(93, 130, 222);
    color: beige;
    font-size: large;
    font-family: 'roboto';
    padding: 18px;
    align-items: center;
}

div.header_margin {
    margin-right: 15px;
}